

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    margin-top: 40px;
}

.content-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    margin-bottom: 10px;
}
