

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    margin-top: 40px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    margin-bottom: 10px;
    color: #0d5098;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
