
<app-header showLoginButton="false" showLogoutButton="false"></app-header>
<main>

  <form [formGroup]="newAccountForm" (ngSubmit)="handleSubmit($event)">
    <label for="email">
      <input type="text" formControlName="email" id="email" placeholder="Email" />
    </label>
    <label for="password">
        <input type="password" formControlName="password" id="password" placeholder="Password" />
      </label>
      <label for="teamName">
        <input type="text" formControlName="teamName" id="teamName" placeholder="Team Name (Optional)" />
      </label>
    <button type="submit" [disabled]="!newAccountForm.valid">Create Account</button>
  </form>

</main>
