main {
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 10px;
}

button {
    width: 200px;
    height: 35px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black;
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
    margin-top: 10px;
    border-width: 1px;
    border-color: rgb(230, 228, 228);
}

button:disabled {
    color: rgb(199, 197, 197);
}



  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 1em;
  }



  input {
    margin-bottom: 1em;
    width: 75%;
    padding: 0.5em;
    box-sizing: border-box;
  }
